
.dashboard-card {
    // background-image: url(../../../../assets/images/background/user-level.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
.dashboard-card-image{
  position: absolute;
  height: 100px;
  bottom: 0px;
  right: -21px;
  opacity: 0.3;
}
  