<div class="container p-5 pt-0">
    <div class="row">
        <div class="col-md-4">
            <div class="dashboard-card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <h4 class="fw-bold">1. Earn Karma points by filling out surveys</h4>
                    </div>
                </div>
                <div class="row card-body">
                    <div class="col-md-12">
                        <p>We have multiple levels for the community. You get leveled up based on the Karma points earned by filling surveys.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dashboard-card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <h4 class="fw-bold">1. Create your survey by using Karma points</h4>
                    </div>
                    
                </div>
                <div class="row card-body">
                    <div class="col-md-12">
                        <p>Different amounts of Karma points are required at various levels. Add on filters can help to refine your research.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="dashboard-card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <h4 class="fw-bold">1. Analyze the survey responses and reports</h4>
                    </div>
                    
                </div>
                <div class="row card-body">
                    <div class="col-md-12">
                        <p>We provide easy-to-understand reports to help you conduct your research more efficiently.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="../../../../assets/user/fill-survey/fill-survey.svg" alt="" height="250px"
        class="dashboard-right-bottom" />
</div>