<div class="container p-5 pt-0">
    <div class="row">
        <div class="col-md-4" *ngFor="let item of allLevelsList">
            <!-- (click)="userDetails?.karma_points <
                            convertString(item.points_after_create)?onYourKarmaPointLow():onClickSurveyCard()" -->
            <div class="dashboard-card" (click)="onClickSurveyCard()" >
                <div class="card-header" >
                    <div class="d-flex justify-content-between">
                        <h4 class="fw-bold">{{(item.level+' level')|titlecase}} </h4>
                        <i class="material-icons fw-bold" >arrow_forward</i>
                    </div>
                    <p>Use  <img src="../../../../assets/user/karma-point.svg" height="18px" alt="karma-point" />   {{item.points_after_create}} per survey created</p>
                </div>
                <div class="row card-body">
                    <div class="col-md-12 ">
                        <h4 class="fs-3 fw-bold p-0 m-0">{{item.surveyCount}}</h4>
                    </div>
                    <div class="col-md-12">
                        <p>surveys are currently live in this level</p>
                    </div>
                </div>
                <img class="dashboard-card-image" src="{{item.level_id==1?'../../../../assets/user/level/level-beginner.svg':''}}" alt="">
                <img class="dashboard-card-image" src="{{item.level_id==2?'../../../../assets/user/level/level-expert.svg':''}}" alt="">
                <img class="dashboard-card-image" src="{{item.level_id==3?'../../../../assets/user/level/level-master.svg':''}}" alt="">
                <img class="dashboard-card-image" src="{{item.level_id==4?'../../../../assets/user/level/level-grand-master.svg':''}}" alt="">
                <img class="dashboard-card-image" src="{{item.level_id==5?'../../../../assets/user/level/level-legend.svg':''}}" alt="">
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-md-12 m-0">
            <div class="instruction row m-0">
                <h5 class="fs-6">
                    <img src="../../../../assets/user/dashboard/icon-faq.svg" alt="" />
                    What are levels?
                </h5>
                <div class="col-md-3 col-sm-10">
                    <div class="dashboard-card rounded-3 p-1">
                        <div class="card-body p-2">
                            <small>Your Karma points decide the level you are in</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto d-flex align-items-center p-0 m-0">
                    <i class="material-icons ">arrow_forward</i>
                </div>
                <div class="col-md-3 col-sm-10">
                    <div class="dashboard-card rounded-3 p-1">
                        <div class="card-body p-2">
                            <small>Upgrade to higher levels by earning more Karma points</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto d-flex align-items-center p-0 m-0">
                    <i class="material-icons">arrow_forward</i>
                </div>
                <div class="col-md-3 col-sm-10">
                    <div class="dashboard-card rounded-3 p-1">
                        <div class="card-body p-2">
                            <small>In Higher levels surveys will have better completion rate</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="../../../../assets/user/dashboard/create-survey-1-image.svg   " alt="" class="dashboard-right-bottom" />
</div>