.dashboard-card {
    background-image: url(../../../../../assets/images/background/user-level.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.level-table,
tr {
    td {
        padding: 10px 15px;
        color: #757575;
        font-size: 0.9rem;
    }

    border: 8px solid #f9fbff;
    background: #FFF !important;

    th {
        padding: 10px 15px;
        color: #757575;
        font-weight: 500;
        font-size: 0.94rem;
    }

    tr:nth-child(even) {
        background: rgba(193, 185, 159, 0.2) !important;
        margin-bottom: 50px !important;
    }

    tr {
        color: #757575;
    }

    .text-success {
        color: #00B086;
        font-weight: 500!important;
    }

    .text-success {
        color: #FF6262;
        font-weight: 500 !important;
    }
}

.paginator-p {
    padding: 0px 8px;
  }
  
  ::ng-deep.mat-mdc-paginator-navigation-next {
    ::ng-deep .mat-mdc-button-touch-target {
      // border: 1px solid;
      background: #fcd96c;
      z-index: -1 !important;
      border-radius: 0px !important;
      top: 24px !important;
      left: 15px !important;
      border-top-right-radius: 20px !important;
      border-bottom-right-radius: 20px !important;
      padding: 0px 0px;
      border-left: 0.1px solid #757575;
      height: 20px !important;
      position: absolute !important;
      width: 23px !important;
    }
  }
  
  ::ng-deep.mat-mdc-paginator-navigation-previous {
    ::ng-deep.mat-mdc-button-touch-target {
      //   border: 1px solid;
      background: #fcd96c;
      z-index: -1 !important;
      border-radius: 0px !important;
      top: 24px !important;
      right: 15px !important;
      border-top-left-radius: 20px !important;
      border-bottom-left-radius: 20px !important;
      padding: 0px 0px;
      height: 20px !important;
      position: absolute !important;
      width: 23px !important;
      top: 24px !important;
      left: 38px !important;
    }
  
    ::ng-deep.mat-mdc-paginator-icon {
      position: relative;
      top: 12px !important;
      left: 25px !important;
    }
  }
  
  ::ng-deep.mat-mdc-icon-button svg {
    position: absolute !important;
    top: 12px;
    left: 0px !important;
  }