.dashboard-card {
    background-image: url(../../../../../assets/images/background/user-level.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.level-table,
tr {
    td {
        padding: 10px 15px;
        color: #757575;
        font-size: 0.9rem;
    }

    border: 8px solid #f9fbff;
    background: #FFF !important;

    th {
        padding: 10px 15px;
        color: #757575;
        font-weight: 500;
        font-size: 0.94rem;
    }

    tr:nth-child(even) {
        background: rgba(193, 185, 159, 0.2) !important;
        margin-bottom: 50px !important;
    }

    tr {
        color: #757575;
    }

    .text-success {
        color: #00B086;
        font-weight: 500!important;
    }

    .text-success {
        color: #FF6262;
        font-weight: 500 !important;
    }
}
.w-20{
    width: 20px!important;
}
