<div class="container py-5 pt-3 px-4">
    <div class="header">Details</div>
    <div class="row" [formGroup]="form">
        <div class="col-md-4 col-sm-12">
            <div class="form-group-user">
                <label for="name">Your User Name</label>
                <input type="text" class="form-control" placeholder="User name" id="floatingInput"
                    formControlName="user_name" />
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="form-group-user">
                <label for="name">Your Full Name</label>
                <input type="text" class="form-control" placeholder="Full name" id="floatingInput"
                    formControlName="full_name" />
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-12 my-3">
            <div class="col-md-2 col-sm-12 my-2">
                <label>Your Gender </label>
            </div>
            <div class="col-md-4 col-sm-12 button-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" checked [value]="1" name="gender" id="btnradio1"
                    formControlName="gender" autocomplete="off" />
                <label class="btn btn-light btn-left" for="btnradio1">Male</label>

                <input type="radio" class="btn-check" [value]="2" name="gender" id="btnradio2" formControlName="gender"
                    autocomplete="off" />
                <label class="btn btn-light" for="btnradio2">Female</label>

                <input type="radio" class="btn-check" [value]="3" name="gender" id="btnradio3" formControlName="gender"
                    autocomplete="off" />
                <label class="btn btn-light btn-right" for="btnradio3">Other</label>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="form-group-user">
                <label for="level">Region</label>
                <mat-select #singleSelect class="form-control classic" placeholder="Search State"
                    formControlName="region_id">
                    <mat-option>
                        <ngx-mat-select-search [(ngModel)]="searchRegionValue" (input)="filterRegion()"
                            [ngModelOptions]="{ standalone: true }" placeholderLabel="Search State"
                            noEntriesFoundLabel="No State available"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option class="dark-background" *ngFor="let item of filteredRegionList"
                        [value]="item.region_id">
                        {{ item.region }}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="form-group-user">
                <label for="name">Email Address</label>
                <input type="text" class="form-control" placeholder="Email" id="floatingInput"
                    formControlName="email_id" />
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 col-sm-12">
            <div class="form-group-user">
                <label for="level">Profession</label>
                <mat-select class="form-control classic" placeholder="Select Profession" formControlName="profession_id"
                    (selectionChange)="getsubProfessionListByProfessionId()">
                    <mat-option class="dark-background" *ngFor="let item of allProfessionList"
                        [value]="item.profession_id">
                        {{ item.profession }}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <!--  -->
        <div class="col-md-4 col-sm-12" *ngIf="this.profession === 'student'">
            <div class="form-group-user">
                <label for="level">Sub Profession</label>
                <mat-select class="form-control classic" placeholder="Select Sub Profession"
                    formControlName="sub_profession_id">
                    <mat-option class="dark-background" [value]="item.sub_profession_id"
                        *ngFor="let item of allSubProfessionList">
                        {{ item.sub_profession }}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <div class="row">
                <div class="col-md-1">
                    <button class="btn btn-pink" (click)="userSave()">Save</button>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-light-cancel" [routerLink]="['/user', { outlets: { user_menu: ['dashboard'] } }]"> Cancel </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="form-group-user">
                <label for="name">Current Password</label>
                <input type="text" class="form-control" placeholder="Current password" id="floatingInput" />
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="form-group-user">
                <label for="name">New Password</label>
                <input type="text" class="form-control" placeholder="New password" id="floatingInput" />
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <div class="row">
                <div class="col-md-1">
                    <button class="btn-gold">Save</button>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-light-cancel"
                        [routerLink]="['/user', { outlets: { user_menu: ['dashboard'] } }]">
                        Cancel
                    </button>
                </div>
            </div>

        </div>
    </div>
    <img src="../../../../assets/user/dashboard/level-image.svg" alt="" class="dashboard-right-bottom" />
</div>