<section>
    <div class="container">
      <div class="row m-0 ">
        <div class="col-md-4 px-5 pt-5">
          <h4 class="header"> Admin Survey</h4>
        </div>
      </div>
      <div class="row m-0 d-flex justify-content-center ">
        <div class="col-md-10 card p-0 my-5">
          <div class="d-flex justify-content-end table-header">
            <button class="btn btn-dark" [routerLink]="['/admin', {outlets: { sub_menu:['create-survey']}}]">Add</button>
          </div>
          <div class=" table-container p-3">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col" class="text-center">Sr.no</th>
                  <th scope="col" class="text-center">Survey title</th>
                  <th scope="col" class="text-center">Start date </th>
                  <th scope="col" class="text-center">End date </th>
                  <th scope="col" class="text-center">Level </th>
                  <th scope="col" class="text-center">No of questions </th> 
                  <th scope="col" class="text-center">Status</th>
                  <th scope="col" class="text-center">Analytic</th>
                  <th scope="col" class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of allSurveyList;let i=index">
                  <th scope="row" class="text-center">{{i+1}}</th>
                  <td class="text-center">{{item.survey_title}}</td>
                  <td class="text-center">{{item.start_date | date : "dd-MM-YYYY"}}</td>
                  <td class="text-center">{{item.end_date | date : "dd-MM-YYYY"}}</td>
                  <td class="text-center">{{item.level}}</td>
                  <td class="text-center">{{item.questionsCount}}</td>
                  <td class="text-center">{{item.status==1 ? 'Live':'close'}}</td>
                  <td class="text-center">
                    <a [routerLink]="['/admin', {outlets: { sub_menu:['user-analytics',item.survey_id]}}]">
                      <img src="../../../../../assets/eye.svg" alt="" />
                    </a>
                  </td>
                  <td class="text-center"> <mat-slide-toggle class="example-margin"
                    (change)="statusEnableDisable($event,item.survey_id)"
                     [checked]="(item.status==1)?true:false">
                    </mat-slide-toggle></td>
                </tr> 
                      <tr *ngIf="allSurveyList.length==0">
                  <td colspan="10" class="text-danger fw-bold text-center">No Data Available</td>
                </tr>
              </tbody>
            </table>
            <mat-paginator [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page" [showFirstLastButtons]="true" (page)="onPageChange($event)">
          </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </section>
