<div class="container ">
    <div class="row">
        <div class="col-md-12">
            <div class="dashboard-card border-0 p-0">
                <div class="position-absolute d-flex justify-content-end fw-bold">
                    <span mat-dialog-close>X</span>
                </div>
                <div class="card-header border-0 pt-0">
                    <div class="d-flex justify-content-between">
                        <div class="">
                            <h4 class="fw-bold mb-1">Contact us</h4>
                            <p>We would love to hear from you!</p>
                        </div>
                        
                    </div>
                </div>
                <div class="row card-body">
                    <div class="col-md-12">
                        <p>If you have any questions or feedback, do contact us at <br>
                            <b  ><a class="link" href="mailto:surveybrewery@gmail.com">surveybrewery@gmail.com</a> </b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>