.sub-header-menu{
    display: flex;
    justify-self: end;
    list-style: none;
    
    li{
        margin-left: 40px;
    }
}
.header{
    padding:20px 20px 0px 20px;
    background-color: #FFFF;
    margin: 0px;
}
