<!-- <div class="container-fuild">
    <div class="row h-100   m-0">
        <div class="side-bar">
            <div class="logo p-3">
                <img class="large-logo" src="../../../assets/images/logo/logo-white.svg" alt="SurveyBrewery">
                <img class="small-logo" src="../../../assets/images/logo/logo-small.svg" alt="SurveyBrewery">
            </div>
            <div class="menu">
                <ul class="nav">
                    <li class="nav-item" [routerLink]="['/user', { outlets: { user_menu: ['dashboard']}}]"> 
                        <a class="nav-link" >Dashboard</a>
                    </li>
                    <li class="nav-item" [routerLink]="['/user', { outlets: { user_menu: ['survey']}}]">
                        <a class="nav-link" >Create survey</a>
                    </li>
                    <li class="nav-item" [routerLink]="['/user', { outlets: { user_menu: ['fill-survey']}}]">
                        <a class="nav-link" >Fill survey</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >How it works?</a>
                    </li>
                    <li class="nav-item nav-reports">
                        <a class="nav-link" >Reports</a>
                        
                        <ul class="nav-drop-down">
                            <li>
                                <a class="nav-link" >Settings</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  routerLink="">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="body ">
            <div class="header"><app-user-header></app-user-header></div>
            <div class="body-container "><router-outlet name="user_menu"></router-outlet></div>
        </div>
    </div>
</div>

 -->
<div class="container-fuild">
    <div class="row h-100   m-0">
        <div class="side-bar">
            <div class="logo p-3">
                <img src="../../../assets/images/logo/logo-white.svg" alt="SurveyBrewery">
            </div>
            <div class="menu">
                <ul class="nav">
                    <li class="nav-item" routerLinkActive='active' [routerLink]="['/user', { outlets: { user_menu: ['dashboard']}}]"><span><img
                                src="../../../assets/images/icon/icon-dashboard.svg" alt="Dashboard"></span>
                                Dashboard
                    </li>
                    <li class="nav-item"routerLinkActive='active' [routerLink]="['/user', { outlets: { user_menu: ['survey']}}]"><span><img
                                src="../../../assets/images/icon/icon-create-survey.svg" alt="Dashboard"></span>
                                Survey
                    </li>
                    <li class="nav-item"routerLinkActive='active' [routerLink]="['/user', { outlets: { user_menu: ['fill-survey']}}]"><span><img
                                src="../../../assets/images/icon/icon-fill-survey.svg" alt="Dashboard"></span>
                                Fill survey
                    </li>
                    <li class="nav-item"routerLinkActive='active' [routerLink]="['/user', { outlets: { user_menu: ['how-it-works']}}]"><span><img
                                src="../../../assets/images/icon/icon-how-it-work.svg" alt="Dashboard"></span>
                                How to ?
                    </li>
                    <li class=" nav-item accordion-header" id="headingOne"><span><img
                                src="../../../assets/images/icon/icon-user-accout.svg" alt="Dashboard"></span>
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"
                            (click)="handleProfileAccordionClick()">
                            Profile
                        </button>
                    </li>
                    <ul id="collapseOne" class="accordion-collapse collapse sub-menu ">
                        <li class="nav-item sub-nav-item" routerLinkActive='active'
                            [routerLink]="['/user', { outlets: { user_menu: ['my-profile']}}]">
                            My account
                        </li>
                        <li class="nav-item sub-nav-item" routerLinkActive='active'
                            [routerLink]="['/user', { outlets: { user_menu: ['user-level']}}]">
                            Level
                        </li>
                        <li class="nav-item sub-nav-item" routerLinkActive='active'
                            [routerLink]="['/user', { outlets: { user_menu: ['karma-point']}}]">
                            Karma points
                        </li>
                    </ul>
                    <!--  <li class="nav-item" [routerLink]="['/admin', { outlets: { sub_menu: ['users']}}]"> <span><img
                                src="../../../assets/images/icon/icon-dashboard.svg" alt="Dashboard"></span>Users</li>

                    <li class="nav-item"><span><img src="../../../assets/images/icon/icon-dashboard.svg"
                                alt="Dashboard"></span><button class="accordion-button" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo" (click)="handleSurveyAccordionClick()">
                            Survey
                        </button></li>
                    <ul id="collapseTwo" class="accordion-collapse collapse ">
                        <li class="nav-item" [routerLink]="['/admin', { outlets: { sub_menu: 'create-survey-list' } }]">
                            <span><img src="../../../assets/images/icon/icon-dashboard.svg" alt="create"></span> Create
                        </li>

                    </ul>
                    <li class="nav-item"><span><img src="../../../assets/images/icon/icon-dashboard.svg"
                                alt="Dashboard"></span><button class="accordion-button" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                            aria-controls="collapseThree" (click)="handleReportsAccordionClick()">
                            Reports
                        </button></li>
                    <ul id="collapseThree" class="accordion-collapse collapse ">
                        <li class="nav-item" [routerLink]="['/admin', { outlets: { sub_menu: 'create-survey' } }]">
                            <span><img src="../../../assets/images/icon/icon-dashboard.svg" alt="create"></span> Create
                            Survey
                        </li>
                        <li class="nav-item" [routerLink]="['/admin', { outlets: { sub_menu: 'fill-survey' } }]">
                            <span><img src="../../../assets/images/icon/icon-dashboard.svg" alt="fill-survey"></span>
                            Fill Survey
                        </li>

                    </ul> -->
                    <li class="nav-item" routerLink="/" routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}"><span><img src="../../../assets/images/icon/icon-logout.svg"
                                alt="Dashboard"></span>Logout</li>
                </ul>
            </div>
        </div>
        <div class="body">
            <div class="header"><app-user-header></app-user-header></div>
            <div class="body-container "><router-outlet name="user_menu"></router-outlet></div>
        </div>
    </div>
</div>