/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

//background...
.bg-theme-admin {
    background: #EFDA92;
}

.bg-gold {
    background: #fbc108;
}

.btn{
    padding: 0.2rem 1.5rem
}
//button...
.btn-dark {
    background: #072f53;
}

.btn-light-cancel {
    background: #dcdcdc;
    color: #0f0f0f;
    border-radius: 44.5px;
    font-size: 0.9rem!important;
    padding: 0.5rem 1rem !important;
}

.btn-light-cancel:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}

.btn-success {
    background: #008323;
    border-radius: 44.5px;
    padding: 0.5rem 1rem !important;
    font-size: 0.9rem!important;
    text-align: center;
    border: none;
}

.btn-pink {
    background: rgba(226, 87, 76, 0.5);
    border-radius: 44.5px;
    padding: 0.5rem 1rem !important;
    font-size: 0.9rem!important;
    text-align: center;
    border: none;
}
.btn-gold{
    background: #FCD96C;
    border-radius: 44.5px;
    padding: 0.5rem 1rem !important;
    font-size: 0.9rem!important;
    text-align: center;
    border: none;
}
.btn-pink:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}
.btn-success:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}
//text
.fw-light{
    font-weight: 400!important;
}

.card {
    border-radius: 12px;
}
.header{
    font-weight: 500!important;
    font-size: 1.4rem!important;
}
img {
    cursor: pointer;
}

[routerlink] {
    cursor: pointer;
}

div .form-group.col-md-12 {
    margin: 0px 0px 10px 0px;
}

label {
    margin-bottom: 5px;
}

.table-container {
    width: 100% !important;
    display: block;
    overflow: auto;
}
.table-header{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background: #EFDA92;
    padding: 20px 15px;
}

//login page
.login-backgroud{
    background-image: url("../src/assets/images/background/login-background.svg");
    background-size: 50%;
    // height: 100vh;
    background-color: #C1B99F;
}
.example-form mat-slide-toggle {
    margin: 8px 0;
    display: block;
  }




// input,
// select {
//   background: #ffffff;
//   border: 1px solid #000000;
//   height: 35px;
//   font-size: 15px;
// }
// input ,textarea{
//     background: #FFFFFF;
// }
// input[type="text"]:focus{
//     box-shadow: 0 0 0 rgb(255, 255, 255);
// }
// textarea:focus{
//     box-shadow: 0 0 0 rgb(255, 255, 255);
// }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
