/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.fw-bold {
    font-weight: 500 !important;
}
$text-primary: #007AFF;
$text-success: #00B086;
//background...
.bg-theme-admin {
    background: #efda92;
}

.bg-gold {
    background: #FCD96C;
}
.bg-pink{
    background: #FCF1CF!important;
}

//text
.text-primary {
    color: $text-primary !important;
}
.text-success{
    color:$text-success!important
}

.btn {
    padding: 0.2rem 1.5rem;
    display: flex;
    align-items: center;
}

.btn-sm {
    padding: 0.1rem 1rem;
}

//button...
.btn-dark {
    background: #072f53;
}

.btn-light-cancel {
    background: #dcdcdc;
    color: #0f0f0f;
    border-radius: 5px;
    font-size: 0.9rem !important;
    padding: 0.5rem 1rem !important;
    display: flex;
    align-items: center;
}



.btn-success {
    background: #00B086;
    border-radius: 44.5px;
    padding: 0.5rem 1rem !important;
    font-size: 0.9rem !important;
    text-align: center;
    border: none;
    display: flex;
    align-items: center;
}

.btn-pink {
    background: #FCF1CF;
    border-radius: 5px;
    padding: 0.5rem 1rem !important;
    font-size: 0.9rem !important;
    text-align: center;
    border: 1px solid rgba(226, 87, 76, 0.5);
    display: flex;
    align-items: center;
}

.btn-gold {
    background: #fcd96c;
    border-radius: 5px;
    padding: 0.5rem 1rem !important;
    font-size: 0.9rem !important;
    text-align: center;
    border: 1px solid rgba(226, 87, 76, 0.5);
    display: flex;
    align-items: center;
}

.btn-sm-gold {
    background: #fcd96c;
    border-radius:5px;
    padding: 0.3rem 0.5rem !important;
    font-size: 0.9rem !important;
    text-align: center;
    border: 1px solid rgba(226, 87, 76, 0.5);
    display: flex;
    align-items: center;
}
.btn-sm-pink {
    background: #FCF1CF;
    border-radius: 5px;
    padding: 0.3rem 0.5rem !important;
    font-size: 0.9rem !important;
    text-align: center;
    border: 1px solid rgba(226, 87, 76, 0.5);
    display: flex;
    align-items: center;
}

.btn-pink:hover,
.btn-gold:hover,
.btn-sm-gold:hover,
.btn-light-cancel:hover,
.btn-success:hover,
.btn-sm-pink:hover  {
    background: #fff;
    color: #000;
    border: 1px solid #000 !important;
}


//text
.fw-light {
    font-weight: 400 !important;
}

.card {
    border-radius: 12px;
}

.header {
    font-weight: 500 !important;
    font-size: 1.4rem !important;
}

img {
    cursor: pointer;
}

[routerlink] {
    cursor: pointer;
}

div .form-group.col-md-12 {
    margin: 0px 0px 10px 0px;
}

label {
    margin-bottom: 5px;
}

.table-container {
    width: 100% !important;
    display: block;
    overflow: auto;
}

.table-header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background: #efda92;
    padding: 20px 15px;
}

// //login page
// .login-backgroud {
//     background-image: url('../src/assets/images/background/login-background.svg');
//     background-size: 50%;
//     // height: 100vh;
//     background-color: #c1b99f;
// }

.example-form mat-slide-toggle {
    margin: 8px 0;
    display: block;
}

input,
select {
    background: #ffffff;
    border: 1px solid #000000;
    height: 35px;
    font-size: 15px;
}

input,
textarea {
    background: #ffffff;
}

input[type='text']:focus {
    box-shadow: 0 0 0 rgb(255, 255, 255);
}

textarea:focus {
    box-shadow: 0 0 0 rgb(255, 255, 255);
}

.dashboard-right-bottom {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.dashboard-card {
    border-radius: 15px;
    background-color: #fff !important;
    border: 1px solid #757575;
    margin: 1rem 0rem;
    overflow: hidden;
    z-index: 1;

    // font-family: 'Inter, sans-serif';
    .card-header {
        padding: 0.9rem 0.9rem 0rem 0.9rem;

        border-bottom: 0.5px solid #e3e3e3;

        h4 {
            font-size: 1.2rem;
            line-height: 20px!important;
        }

        p {
            color: #9e9e9e;
            font-size: 0.8rem;
        }
    }

    .card-body,
    .card-footer {
        padding: 1rem;

        p {
            font-size: 0.8rem;
            color: #757575;
        }

        .filter {
            border: 1px solid #fbc108;
            border-radius: 100px;
            padding: 0.3rem 1rem;
            font-size: 0.8rem;
            font-weight: 500;
            background: #fef9ec;
            margin-left: 0.4rem;
        }
    }
}
.dashboard-card-pink{
    border-radius: 15px;
    background-color: #FCF1CF !important;
    border: 1px solid #757575;
    margin: 1rem 0rem;

    // font-family: 'Inter, sans-serif';
    .card-header {
        padding: 1rem 1rem 0rem 1rem;

        border-bottom: 0.5px solid #e3e3e3;

        h4 {
            font-size: 1.2rem;
        }

        p {
            color: #9e9e9e;
            font-size: 0.8rem;
        }
    }

    .card-body,
    .card-footer {
        padding: 1rem;

        p {
            font-size: 0.9rem;
        }

        .filter {
            border: 1px solid #fbc108;
            border-radius: 100px;
            padding: 0.3rem 1rem;
            font-size: 0.8rem;
            font-weight: 500;
            background: #fef9ec;
            margin-left: 0.4rem;
        }
    }
}
//user profile
.btn-group {
    width: 60%;
    color: #000000;
    padding: 0px 15px;
}

.btn {
    padding: 8px 25px;
}

.gender-btn {
    text-decoration: none;
    background: #ffffff;
}

.btn-light {
    border: 1px solid #000 !important;
    border-radius: 0px;
}

.btn-left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.btn-right {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

::ng-deep .mat-mdc-select-trigger {
    padding: 6px 0px !important;
}

// .instruction{
//     position: absolute;
//     bottom: 0px;
// }

// --------------------------------------------------
.fit-to-screen {
    height: 100vh;
    overflow: hidden;
}
.form-group {
    margin-bottom: 10px;
    position: relative;
    input, mat-select {
        border-radius: 10px;
        background: #FAFAFB;
        font-size: 0.9rem;
        position: relative;
    }

    input:hover, mat-select:hover {
        background: #ECEDEE;
    }

    input:focus,mat-select:focus {
        border: 1px solid #49454F;
    }

    input:invalid,mat-select:invalid {
        border: 1px solid #F33950;
    }

    label {
        color: #111A28;
        font-weight: 500;
    }

    .text-danger {
        color: #F33950;
        ;
    }

    small .error-icon {
        content: url(./assets/images/icon/icon-warning-error.svg);
    }

    .eye {
        position: absolute;
        top: 30px;
        right: 10px;
    }
    .h-0{
        height: 0px;
    }

}

.btn-register{
    background: #FCD96C;
    border-radius: 100px;
    border: 1px solid #242424;
    padding: 0.7rem 0rem;
    font-size: 1rem;
    font-weight: 500;
}
.w-20{
    width: 20px!important;
}
::-webkit-scrollbar {
    width: 7px;
    overflow-y: scroll;
    background: #FFF;
    box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
    background: #161616;
    border-radius: 10px;
}