<section>
    <div class="container">
      <div class="row m-0 ">
        <div class="col-md-4 px-5 pt-5">
          <h4 class="header"> Question-type</h4>
        </div>
      </div>
      <div class="row m-0 d-flex justify-content-center ">
        <div class="col-md-10 card p-0 my-5">
          <div class="d-flex justify-content-end table-header">
            <button class="btn btn-dark" (click)="openDialog()">Add</button>
          </div>
          <div class=" table-container p-3">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col" class="text-center">Sr.no</th>
                  <th scope="col" class="text-center">Question-type</th>
                  <th scope="col" class="text-center">Input-type</th>
                  <th scope="col" class="text-center">User</th>
                  <th scope="col" class="text-center">Edit</th>
                  <th scope="col" class="text-center">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor = "let item of allQuestionList;let i=index">
                  <th scope="row" class="text-center">{{i+1}}</th>
                  <td class="text-center">{{item.question_type}}</td>
                  <td class="text-center">{{item.input_type}}</td>
                  <td class="text-center">{{item.user_name}}</td>
                    <td class="text-center"><img src="../../../../../assets/edit.svg" alt="" (click)="openDialog(item)">
                    </td>
                  <td class="text-center"><img src="../../../../../assets/delete.svg" alt="" (click)="deleteQuetionType(item.question_type_id)">

                  </td>
                </tr>
                <tr *ngIf="allQuestionList.length==0">
                  <td colspan="10" class="text-danger fw-bold text-center">No Data Available</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
