<div class="container p-5 pt-0">
    <div class="row pt-3">
        <div class="">
            <button class="btn-sm-gold" (click)="goToBack()"><i
                    class="material-icons fs-6 w-20">arrow_backward</i> Back </button>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6 col-sm-12">
            <div class="dashboard-card">
                <div class="row card-body">
                    <div class="col-md-12 col-sm-12 d-flex">
                        <h4>01 &nbsp;</h4>
                        <p>{{surveyDetails.survey_title}}</p>
                    </div>
                    <div class="row">
                        <div class="col-md-auto p-0">
                            <p class="filter"><small>{{surveyDetails.level|titlecase}} level</small></p>
                        </div>
                        <div class="col-md-auto p-0">
                            <p class="filter"><small>Responses 150/200</small></p>
                        </div>
                        <div class="col-md-auto p-0">
                            <p class="filter"><small>Deadline {{surveyDetails.end_date|date}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="dashboard-card   p-3">
                <div *ngFor="let question of surveyDetails.questions; let i = index" class="sub-card  p-3 my-3">
                    <div class="col-md-12 question">
                       <span class="fw-bold"> Q {{i+1}}</span>. {{ question.question}}
                    </div>
                    <div class="col-md-12 py-3">
                        <span class="fw-bold">{{question.total_count}} responses</span>
                    </div>
                    <div *ngIf="question.input_type === 'text'">
                        <ul class="text-value">
                            <li *ngFor="let option of question.options">

                                {{ option.value }}
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="question.input_type !== 'text'">
                        <div class="row">
                            <div [ngClass]="{'col-md-10': question.input_type === 'checkbox', 'col-md-5': question.input_type === 'radio', 'col-sm-12': true}">
                                <canvas [id]="'chartCanvas' + i"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>